.title {
  text-align: center;
}

.inscription-form, .connection-form {
  margin-left: 33%;
}

.form-group, .choice, .btn {
  margin-top: 1rem;
}

.btn {
  margin-left: 85%;
}

.title {
  margin-top: 5rem;
  font-family: 'Libre Baskerville', serif;
}