.champ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profil-user-form {
  margin-left: 33%;
  margin-right: 33%;
}

.form-group, .btn {
  margin-top: 1rem;
}

.logo {
  width: 10%;
  height: 5%;
}
.title {
  text-align: center;
}

.cancel {
  margin-left: 0.5rem;
}

.buttons-container {
  display: flex;
  margin-left: none;
  justify-content: space-between;
}